<div class="container">
    <h2 mat-dialog-title class="text-center">Add Bank Account</h2>

    <mat-dialog-content class="d-flex flex-column align-items-center">
        <p class="text-center">Fill in the bank account details.</p>

        <form [formGroup]="bankAccountForm">
            <!-- Customer CIN Field -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Search Customer by CIN</mat-label>
                <input matInput type="text" placeholder="Enter CIN to search customer" formControlName="customerCin"
                    [matAutocomplete]="auto" (input)="onSearchCustomer()" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCustomerName">
                    <mat-option *ngFor="let customer of customers" [value]="customer">
                        {{ customer.name }} - {{ customer.cin }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="bankAccountForm.get('customerCin')?.hasError('required')">
                    CIN is required.
                </mat-error>
            </mat-form-field>
            <!-- Account status Field -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="CREATED">Created</mat-option>
                    <mat-option value="SUSPENDED">Suspended</mat-option>
                    <mat-option value="ACTIVATED">Activated</mat-option>
                </mat-select>
                <mat-error *ngIf="bankAccountForm.get('status')?.hasError('required')">
                    Account status is required.
                </mat-error>
            </mat-form-field>

            <!-- Account Type Field -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" (selectionChange)="onTypeChange($event.value)">
                    <mat-option value="CURRENT_ACCOUNT">Current Account</mat-option>
                    <mat-option value="SAVING_ACCOUNT">Saving Account</mat-option>
                </mat-select>
                <mat-error *ngIf="bankAccountForm.get('type')?.hasError('required')">
                    Account type is required.
                </mat-error>
            </mat-form-field>

            <!-- Balance Field -->
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Balance</mat-label>
                <input matInput type="number" placeholder="Enter balance" formControlName="balance" />
                <mat-error *ngIf="bankAccountForm.get('balance')?.hasError('required')">
                    Balance is required.
                </mat-error>
                <mat-error *ngIf="bankAccountForm.get('balance')?.hasError('min')">
                    Balance must be greater than or equal to 0.
                </mat-error>
            </mat-form-field>

            <!-- Overdraft Field (for Current Account) -->
            <mat-form-field *ngIf="isCurrentAccount" appearance="outline" class="w-100">
                <mat-label>Overdraft</mat-label>
                <input matInput type="number" placeholder="Enter overdraft limit" formControlName="overDraft" />
                <mat-error *ngIf="bankAccountForm.get('overDraft')?.hasError('required')">
                    Overdraft limit is required for current accounts.
                </mat-error>
                <mat-error *ngIf="bankAccountForm.get('overDraft')?.hasError('min')">
                    OverDraft must be greater than or equal to 0.
                </mat-error>
            </mat-form-field>

            <!-- Interest Rate Field (for Saving Account) -->
            <mat-form-field *ngIf="isSavingAccount" appearance="outline" class="w-100">
                <mat-label>Interest Rate</mat-label>
                <input matInput type="number" placeholder="Enter interest rate" formControlName="interestRate" />
                <mat-error *ngIf="bankAccountForm.get('interestRate')?.hasError('required')">
                    Interest rate is required for saving accounts.
                </mat-error>
                <mat-error *ngIf="bankAccountForm.get('interestRate')?.hasError('min')">
                    Interest rate must be greater than or equal to 0.
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="d-flex justify-content-center">
        <button class="btn  me-2" mat-button mat-dialog-close>Cancel</button>
        <button class="btn " mat-button [disabled]="bankAccountForm.invalid" (click)="onSubmit()">
            Submit
        </button>
    </mat-dialog-actions>
</div>
<!-- disabled]="bankAccountForm.invalid" -->