<div class="container">
    <div class="card">
        <div class="card-header">
            New Customer
        </div>
        <div class="card-body">
            <form [formGroup]="addCustomerForm" (ngSubmit)="handleSaveCustomer()">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control">
                    <span class="text-danger" *ngIf="addCustomerForm.controls['name'].touched 
                    && addCustomerForm.controls['name'].errors
                    && addCustomerForm.controls['name'].errors['required'] ">
                        name is required</span>
                    <span class="text-danger" *ngIf="addCustomerForm.controls['name'].touched 
                    && addCustomerForm.controls['name'].errors
                    && addCustomerForm.controls['name'].errors['minlength'] ">
                        min length is 4 characters</span>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" formControlName="email" class="form-control" id="email">
                    <span class="text-danger" *ngIf="addCustomerForm.controls['email'].touched 
                      && addCustomerForm.controls['email'].errors
                    && addCustomerForm.controls['email'].errors['email'] ">
                        email is required</span>
                </div>
                <button [disabled]="!addCustomerForm.valid" type="submit" class="btn btn-primary"> <i
                        class="bi bi-plus-circle-fill"></i></button>
            </form>
        </div>
    </div>
</div>